<nav class="navbar navbar-dark"style="background-color: #192b5d;" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active letra" aria-current="page">Cadastro/Login</li>
  </ol>
</nav>
<section class="container"> 
  <div class="text-center meio">
    <h2 class="title">Realize seu cadastro</h2>
    <button type="button" class="main-button btn-lg btn-block" style="background-color:#97c524;">Cadastro</button>
    <h2 class="title">Realize o Login da sua conta</h2>
    <button type="button" class="main-button btn-lg btn-block" style="background-color:#97c524;">Login</button>
  </div>
</section>
