<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Portocred Financeira</a>
  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(página atual)</span></a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sobre
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Sobre a Portocred</a>
            <a class="dropdown-item" href="#">Trabalhe conosco</a>
            <a class="dropdown-item" href="#">Canais de Atendimento</a>
            <a class="dropdown-item" href="#">Informações importantes</a>
          </div>
        </li>
    </ul>
  </div>
</nav>